# Libraries, files and read

In [58]:
#library
import pandas as pd
import numpy as np
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from scipy.interpolate import interp1d

from sklearn.linear_model import LinearRegression, Ridge, Lasso 
from sklearn.model_selection import train_test_split, cross_val_score 
from statistics import mean 

import math

from numpy import median

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor  
from sklearn.metrics import r2_score

from sklearn.preprocessing import scale 
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV

In [3]:
#files
agrisolus_dias = '/home/cavalcante87/Documents/AI2/Aulas/Aula 200129/data/agrisolus_dias.csv'
linhagens = '/home/cavalcante87/Documents/AI2/Aulas/Aula 200129/data/linhagens.csv'
lotes = '/home/cavalcante87/Documents/AI2/Aulas/Aula 200129/data/lotes.csv'
pesos =  '/home/cavalcante87/Documents/AI2/Aulas/Aula 200129/data/pesos.csv'

In [4]:
#read
df_agrisolus_dias = pd.read_csv(agrisolus_dias, sep=';')
df_linhagens = pd.read_csv(linhagens, sep=';')
df_lotes = pd.read_csv(lotes, sep=';')
df_pesos = pd.read_csv(pesos, sep=';')

# `columns` and `shape`

In [5]:
#shape of each .csv
print('agrisolus_dias:', df_agrisolus_dias.columns)
print('shape:', df_pesos.shape,'\n')

print('linhagens:', df_linhagens.columns)
print('shape:', df_linhagens.shape,'\n')

print('lotes:', df_lotes.columns)
print('shape:', df_lotes.shape,'\n')

print('pesos:', df_pesos.columns)
print('shape:', df_pesos.shape,'\n')

agrisolus_dias: Index(['Unnamed: 0', 'Data', 'Peso', 'Umidade', 'Temperatura', 'idLote',
       'idLinhagem', 'idBalanca', 'DataAlojamento', 'Sexo', 'PesoChegada',
       'DataAbate', 'Idade', 'idPesoEsperado', 'PesoEsperado', 'DiffPeso'],
      dtype='object')
shape: (2075588, 8)

linhagens: Index(['idPesoEsperado', 'Idade', 'PesoEsperado', 'idLinhagem'], dtype='object')
shape: (1035, 4)

lotes: Index(['Lote', 'DataAlojamento', 'Linhagem', 'Sexo', 'PesoChegada',
       'DataAbate'],
      dtype='object')
shape: (8, 6)

pesos: Index(['Unnamed: 0', 'Data', 'Peso', 'Umidade', 'Temperatura', 'idLote',
       'idLinhagem', 'idBalanca'],
      dtype='object')
shape: (2075588, 8)

In [6]:
#drop column Unnamed: 0
df_agrisolus_dias = df_agrisolus_dias.drop(columns=['Unnamed: 0'])
df_pesos = df_pesos.drop(columns=['Unnamed: 0'])

#### <i>data frame</i> `df_agrisolus_dias ` det√©m os demais arquivos com as colunas relevantes.

# Missing Data

In [7]:
def missing_data(df):
    total = df.isnull().sum().sort_values(ascending = False)
    percentual = round(df.isnull().sum().sort_values(ascending = False) / len(df) * 100, 2)
    return pd.concat([total, percentual], axis=1, keys=['Total','Percentual'])

In [8]:
#verified nan data
missing_data(df_agrisolus_dias)

                Total  Percentual
DiffPeso            0         0.0
PesoEsperado        0         0.0
idPesoEsperado      0         0.0
Idade               0         0.0
DataAbate           0         0.0
PesoChegada         0         0.0
Sexo                0         0.0
DataAlojamento      0         0.0
idBalanca           0         0.0
idLinhagem          0         0.0
idLote              0         0.0
Temperatura         0         0.0
Umidade             0         0.0
Peso                0         0.0
Data                0         0.0

# `sample()` and `info()`

In [9]:
#dataframe
df_agrisolus_dias

,Data,Peso,Umidade,Temperatura,idLote,idLinhagem,idBalanca,DataAlojamento,Sexo,PesoChegada,DataAbate,Idade,idPesoEsperado,PesoEsperado,DiffPeso
0,2019-04-06 07:10:35,20.5748,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,0,1335,42.0,-21.4252
1,2019-04-06 07:10:43,42.5538,68.2,32.1,2,15,2861839,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,0,1335,42.0,0.5538
2,2019-04-06 07:10:58,33.6798,67.9,32.1,2,15,2861839,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,0,1335,42.0,-8.3202
3,2019-04-06 07:12:12,25.7238,68.6,32.1,2,15,2861839,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,0,1335,42.0,-16.2762
4,2019-04-06 07:13:19,39.4938,68.8,32.0,2,15,2861839,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,0,1335,42.0,-2.5062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2075583,2019-05-23 23:56:53,5233.9554,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,47,1382,3177.0,2056.9554
2075584,2019-05-23 23:56:55,5238.8098,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,47,1382,3177.0,2061.8098
2075585,2019-05-23 23:56:56,5215.1446,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,47,1382,3177.0,2038.1446
2075586,2019-05-23 23:56:58,5247.0016,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,47,1382,3177.0,2070.0016
2075587,2019-05-23 23:57:06,5194.5134,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,47,1382,3177.0,2017.5134

In [ ]:
#info
df_agrisolus_dias.info()

In [ ]:
#Sexo object to Nome category
df_agrisolus_dias['Sexo'] = df_agrisolus_dias.Sexo.astype('category')
df_agrisolus_dias.info()

In [10]:
#Sexo object to Nome category
df_agrisolus_dias['Data'] = df_agrisolus_dias['Data'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
df_agrisolus_dias['DataAbate'] = df_agrisolus_dias['DataAbate'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
df_agrisolus_dias['DataAlojamento'] = df_agrisolus_dias['DataAlojamento'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

In [11]:
#info
df_agrisolus_dias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075588 entries, 0 to 2075587
Data columns (total 15 columns):
Data              datetime64[ns]
Peso              float64
Umidade           float64
Temperatura       float64
idLote            int64
idLinhagem        int64
idBalanca         int64
DataAlojamento    datetime64[ns]
Sexo              object
PesoChegada       float64
DataAbate         datetime64[ns]
Idade             int64
idPesoEsperado    int64
PesoEsperado      float64
DiffPeso          float64
dtypes: datetime64[ns](3), float64(6), int64(5), object(1)
memory usage: 237.5+ MB

In [29]:
df_agrisolus_dias

,Data,Peso,Umidade,Temperatura,idLote,idLinhagem,idBalanca,DataAlojamento,Sexo,PesoChegada,DataAbate,Idade,idPesoEsperado,PesoEsperado,DiffPeso
0,2019-04-06 07:10:35,20.5748,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,0,1335,42.0,-21.4252
1,2019-04-06 07:10:43,42.5538,68.2,32.1,2,15,2861839,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,0,1335,42.0,0.5538
2,2019-04-06 07:10:58,33.6798,67.9,32.1,2,15,2861839,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,0,1335,42.0,-8.3202
3,2019-04-06 07:12:12,25.7238,68.6,32.1,2,15,2861839,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,0,1335,42.0,-16.2762
4,2019-04-06 07:13:19,39.4938,68.8,32.0,2,15,2861839,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,0,1335,42.0,-2.5062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2075583,2019-05-23 23:56:53,5233.9554,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,47,1382,3177.0,2056.9554
2075584,2019-05-23 23:56:55,5238.8098,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,47,1382,3177.0,2061.8098
2075585,2019-05-23 23:56:56,5215.1446,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,47,1382,3177.0,2038.1446
2075586,2019-05-23 23:56:58,5247.0016,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,47,1382,3177.0,2070.0016
2075587,2019-05-23 23:57:06,5194.5134,0.0,0.0,2,15,2843900,2019-04-06 06:30:00,F√™meas Cobb MV GT Foods,38.0,2019-05-25 09:30:00,47,1382,3177.0,2017.5134

# <b>RSS</b> and <b>R$^2$<b>

In [12]:
from sklearn.metrics import r2_score
def calc_rss(y,predicted):
    return float(((predicted - y) ** 2).sum())
    
def calc_r2(y,predicted):
    return r2_score(predicted,y)

# Linear Regression

In [ ]:
from sklearn.model_selection import train_test_split

X = df_agrisolus_dias.loc[:,['Idade']]
y = df_agrisolus_dias.loc[:,['Peso']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, shuffle=True)

In [ ]:
from sklearn import linear_model

X = X_train.loc[:, ['Idade']]
y = y_train.loc[:, ['Peso']]

reg = linear_model.LinearRegression()

y_hat = reg.fit(X, y).predict(X)

In [ ]:
#RSS and R2

rss = calc_rss(y,y_hat)
r2 = calc_r2(y,y_hat)
print('RSS:', rss)
print('R2:',r2)

# SGD Regression

In [ ]:
from sklearn.model_selection import train_test_split

#X = df_agrisolus_dias.loc[:,['Idade', 'Temperatura', 'Umidade']]
#X = df_agrisolus_dias.loc[:,['Idade', 'Temperatura']]
#X = df_agrisolus_dias.loc[:,['Idade', 'Umidade']]
X = df_agrisolus_dias.loc[:,['Idade']]
y = df_agrisolus_dias.loc[:,['Peso']]

X_SGD_train, X_SGD_test, y_SGD_train, y_SGD_test = train_test_split(X, y, test_size=0.15, shuffle=True)

In [ ]:
from sklearn.linear_model import SGDRegressor

X_SGD = X_SGD_train
y_SGD = y_SGD_train

final = 9
for k in range(1, final): 
    reg_grad = SGDRegressor(max_iter=5000,alpha=0)
    y_SGD_hat = reg_grad.fit(X_SGD, y_SGD.values.ravel())

    y = y_SGD
    y_hat = y_SGD_hat.predict(X_SGD).reshape(-1,1)

    rss = calc_rss(y,y_hat)
    r2 = calc_r2(y,y_hat)
    print('k:', k)
    print('RSS:', rss)
    print('R2:',r2, '\n')

# kNN

In [ ]:
#from sklearn.model_selection import train_test_split

#X = df_agrisolus_dias.loc[:,['Idade']]
#y = df_agrisolus_dias.loc[:,['Peso']]

#X_kNN_train, X_kNN_test, y_kNN_train, y_kNN_test = train_test_split(X, y, test_size=0.15, shuffle=True)

In [ ]:
#from sklearn.neighbors import KNeighborsRegressor

#X = X_kNN_train.loc[:, ['Idade']]
#y = y_kNN_train.loc[:, ['Peso']]

#final = 2

#for k in range(1, final):
#    neigh = KNeighborsRegressor(n_neighbors=k,weights='uniform')
#    neigh = neigh.fit(X,y)

#    y_kNN_hat = neigh.predict(X)

    #RSS and R2
#    y = y_kNN_train
#    y_hat = y_kNN_hat

#    rss = calc_rss(y,y_hat)
#    r2 = calc_r2(y,y_hat)
#    print('k:', k)
#    print('RSS:', rss)
#    print('R2:',r2, '\n')

# Tree Regression

In [ ]:
#from sklearn.model_selection import train_test_split

#X = df_agrisolus_dias.loc[:,['Idade']]
#y = df_agrisolus_dias.loc[:,['Peso']]

#X_tree_train, X_tree_test, y_tree_train, y_tree_test = train_test_split(X, y, test_size=0.15, shuffle=True)

In [ ]:
#from sklearn.tree import DecisionTreeRegressor

#X = X_tree_train
#y = y_tree_train


#tree = DecisionTreeRegressor(criterion='friedman_mse', splitter='random')     
#y_hat = tree.fit(X, y).predict(X).reshape(-1,1)

In [ ]:
#rss = calc_rss(y,y_hat)
#r2 = calc_r2(y,y_hat)
#print('k:', k)
#print('RSS:', rss)
#print('R2:',r2, '\n')

# Conclus√£o

O <b>SGD Regression</b> mostrou varia√ß√µes no <b>$\text{R}^2$</b> para o √∫nico <i>predict</i> `'Idade'` conforme as <i>k</i> execu√ß√µes (maioria <b> $\text{R}^2 < 0$ </b>).  
N√£o foram realizados testes com as demais colunas.

# SGD Regression `alpha`

In [141]:
from sklearn.model_selection import train_test_split

#X = df_agrisolus_dias.loc[:,['Idade', 'Temperatura', 'Umidade']]
#X = df_agrisolus_dias.loc[:,['Idade', 'Temperatura']]
#X = df_agrisolus_dias.loc[:,['Idade', 'Umidade']]
X = df_agrisolus_dias.loc[:,['Idade']]
y = df_agrisolus_dias.loc[:,['Peso']]

X_SGD_train, X_SGD_test, y_SGD_train, y_SGD_test = train_test_split(X, y, test_size=0.15, shuffle=True)

In [142]:
from sklearn.linear_model import SGDRegressor

X_SGD = X_SGD_train
y_SGD = y_SGD_train

final = 4

for k in range(1, final):
    random_number = np.random.random()
    reg_grad = SGDRegressor(max_iter=5000,alpha=random_number)
    y_SGD_hat = reg_grad.fit(X_SGD, y_SGD.values.ravel())

    y = y_SGD
    y_hat = y_SGD_hat.predict(X_SGD).reshape(-1,1)

    rss = calc_rss(y,y_hat)
    r2 = calc_r2(y,y_hat)
    print('k:', k)
    print('coeficient:', reg_grad.coef_)
    print('alpha:', random_number)
    print('RSS:', rss)
    print('R2:',r2)
    print('MSE:', mean_squared_error(y, y_hat), '\n')

k: 1
coeficient: [74.14839694]
alpha: 0.2455515299154294
RSS: 1632077601441.466
R2: 0.009331348488475166
MSE: 925083.4782626863

k: 2
coeficient: [57.7522094]
alpha: 0.7189496129851963
RSS: 1687990345789.9836
R2: -0.6889776386733841
MSE: 956775.5718098657

k: 3
coeficient: [64.04470634]
alpha: 0.7099449068564068
RSS: 1588401550653.6284
R2: -0.29236436137701194
MSE: 900327.3067767808

In [133]:
#from sklearn.model_selection import train_test_split

X = df_agrisolus_dias.loc[:,['Idade']]
y = df_agrisolus_dias.loc[:,['Peso']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, shuffle=True)

In [134]:
#from sklearn import linear_model

X = X_train.loc[:, ['Idade']]
y = y_train.loc[:, ['Peso']]

reg = linear_model.LinearRegression()
#Ridge(alpha = 0, normalize = True).fit(X, y)
y_hat = reg.fit(X, y).predict(X)

rss = calc_rss(y,y_hat)
r2 = calc_r2(y,y_hat)
print('coeficient:', reg_grad.coef_)
print('alpha:', random_number)
print('RSS:', rss)
print('R2:',r2)
print('MSE:', mean_squared_error(y, y_hat), '\n')

coeficient: [10.07662447]
alpha: 0.3403644348052033
RSS: 1577391370813.694
R2: -0.15675550038711972
MSE: 894086.5891456899

In [135]:
#from sklearn import linear_model

X = X_train.loc[:, ['Idade']]
y = y_train.loc[:, ['Peso']]

reg = linear_model.LinearRegression()
Ridge(alpha = 100000).fit(X, y)

y_hat = reg.fit(X, y).predict(X)

rss = calc_rss(y,y_hat)
r2 = calc_r2(y,y_hat)
print('coeficient:', reg_grad.coef_)
print('alpha:', random_number)
print('RSS:', rss)
print('R2:',r2)
print('MSE:', mean_squared_error(y, y_hat), '\n')

coeficient: [10.07662447]
alpha: 0.3403644348052033
RSS: 1577391370813.694
R2: -0.15675550038711972
MSE: 894086.5891456899